/* Root start */

:root {
    --black: #000;;
    --lightblack: #323232;
    --hex:#e1e1e1;
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 a {
     text-decoration: none;
 }
 
 ul {
     list-style: none;
 }
 
 .container {
     max-width: 1320px;
     width: 100%;
     margin: 0 auto;  
     padding: 0 15px;
 }
 
 body {
    background: #f1f1f1;
 }

/* Root end */

/* Header start */

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 20px 0;
    position: relative;
}

.header__nav-box {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__nav-icon_list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__nav-link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--lightblack);
}

.header__nav::after {
    display: block;
    content: '';
    border-radius: 0px;
    width: 100%;
    height: 2px;
    background: var(--lightblack);
    bottom: 0;
    position: absolute;
}

.header__content {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows: 294px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.header__content-pierre {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hex);
    border-radius: 10px;
    height: 294px;
    position: relative;
}

.header__content-diadema {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hex);
    border-radius: 10px;
    width: 746px;
    height: 100%;
    grid-column: span 1;
    grid-row: span 2;
    position: relative;
}

.header__content-military {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hex);
    border-radius: 10px;
    height: 294px;
    position: relative;
} 

.pierre__sale {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 10px;
    max-width: 123px;
    width: 100%;
    height: 49px;
    background: var(--lightblack);
    left: 0;
    top: 0;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diadema__sale {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 10px;
    width: 110px;
    height: 49px;
    background: var(--lightblack);
    left: 0;
    top: 0;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.military__sale {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 10px;
    width: 100px;
    height: 49px;
    background: var(--lightblack);
    left: 0;
    top: 0;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content-pierre_left {
    margin-right: 40px;
}

.header__content-pierre_right {
    text-align: center;
}

.header__content-diadema_left {
    margin-right: 24px;
}

.header__content-diadema_right {
    text-align: center;
}

.header__content-military_left {
    margin-right: 10px_
}

.header__content-military_right {
    text-align: center;
}

.men {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: var(--lightblack);
}

.name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black);
    margin: 18px 0;
}

.price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--lightblack);
}

/* Header end */

/* main start */

.main__title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    position: relative;
}

.main__title::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 0px;
    width: 100%;
    height: 2px;
    background: var(--lightblack);
    bottom: -20px;
}

.size {
    font-size: 20px;
}

.main__magazin-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 485px;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.main__magazin-box_cartier,
.main__magazin-box_audemars,
.main__magazin-box_tagheuer,
.main__magazin-box_lduchen,
.main__magazin-box_rolex,
.main__magazin-box_spikes,
.main__magazin-box_pierre,
.main__magazin-box_tiamo,
.main__magazin-box_carrera,
.main__magazin-box_montblanc,
.main__magazin-box_jaeger,
.main__magazin-box_hockey
{
    border-radius: 10px;
    width: 100%;
    height: 485px;
    background: var(--hex);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.pierre {
    width: 250px;
    height: 250px;
}

.price__sale-cartier,
.price__sale-audemars,
.price__sale-tagheuer,
.price__sale-lduchen,
.price__sale-pierre,
.price__sale-tiamo,
.price__sale-carrera,
.price__sale-jaeger{
    content: '';
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    background: var(--lightblack);
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magazin__heart {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: #fff;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magazin__basket {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: #fff;
    right: 0;
    top: 0;
    margin-top: 90px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__news-next {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    color: var(--lightblack);
    text-align: center;
    margin-bottom: 60px;
}

.main__news-title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.main__news-title::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 0px;
    width: 100%;
    height: 2px;
    background: var(--lightblack);
    bottom: -30px;
}

.main__news-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    gap: 24px;
}

.main__news-box_left {
    background: url(../img/main1.jpg)no-repeat; 
    padding: 110px 110px 60px 60px;
    position: relative;
    border-radius: 10px;
    width: 636px;
    height: 470px;
    
}
.news__box-left_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    font-variant: all-small-caps;
    color: #fff;
    
}

.news__box-left_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    font-variant: all-small-caps;
    color: #e1e1e1;
    margin-top: 30px;
    margin-bottom: 100px;
}

.news__box-left_time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news__box-left_date {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.main__news-box_advise {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--lightblack);
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    margin-left: 20px;
    margin-top: 20px;
}

.main__news-box_right {
    background: url(../img/main2.jpg) no-repeat;
    padding: 110px 110px 60px 60px;
    position: relative;
    border-radius: 10px;
    width: 636px;
    height: 470px;
}

.news__box-right_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.news__box-right_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    font-variant: all-small-caps;
    color: #e1e1e1;
    margin-top: 30px;
    margin-bottom: 100px;
}

.news__box-right_time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news__box-right_date {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

/* main end */

/* footer start */

.footer {
    background: #323232;
    padding-top: 100px;
    padding-bottom: 90px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer__nav-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__nav-logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 72%;
    text-transform: uppercase;
    color: #fff;
}

.footer__nav-link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
}

.footer__nav-goods {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__nav-product {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.footer__nav-contacts {
    margin-right: 100px;
}

.footer__nav-contacts_title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 30px;
}

.footer__nav-contacts_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: #fff;
}

.footer__nav-numbers {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.number {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: #fff;
}

.email {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: #fff;
}

.footer__nav-social {
    margin-top: 20px;
}

.footer__nav-social_title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.14em;
    font-variant: all-small-caps;
    color: #fff;
    margin-bottom: 40px;
}

.footer__social {
    display: flex;
    gap: 26px;
}

/* footer end */

@media(max-width:1200px) {
    
    .header__nav-icon_list {
        gap: 25px;
    }
    
    .header__content-diadema {
        width: 100%;
    }
    
    .header__content-diadema_img {
        max-width: 80%;
    }
     
    .pierre__sale {
        font-size: 16px;
        width: 60px;
        height: 35px;
    }
    
    .military__sale {
        font-size: 16px;
        width: 60px;
        height: 35px;
    }
    
    .price__sale-cartier,
    .price__sale-audemars,
    .price__sale-tagheuer,
    .price__sale-lduchen,
    .price__sale-pierre,
    .price__sale-tiamo,
    .price__sale-carrera,
    .price__sale-jaeger {
        width: 60px;
        height: 35px;
}

.footer__nav-box {
    margin-left: 50px;
}

.footer__nav-contacts {
    max-width: 350px;
    margin-right: 50px;
}

.main__news-box {
    flex-direction: column;
}

.main__news-box_left {
    width: 100%;
    background-size: 100%;
}
.main__news-box_right {
    width: 100%;
    background-size: 100%;
}
} 

@media (max-width:1050px) {
    
    .header__nav,
    .header__nav-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    

    .magazin__basket,
    .magazin__heart {
        width: 35px;
        height: 35px;
    }
    
    .name {
        text-align: center;
    }
    
    .main__magazin-box_carrera,
    .main__magazin-box_tagheuer {
        gap: 12px;
    }
    
}

@media (max-width:950px) {
    
    .header__content {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-auto-rows: 230px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    
    .header__content-pierre {
        height: 230px;
        position: relative;
    }
    
    .header__content-diadema {
        max-width: 100%;
        height: 100%;
        padding: 0 15px;
    }
    
    .header__content-military {
        height: 230px;
        position: relative;
        padding-left: 20px;
    }
    
    .name {
        max-width: 200px;
    }
    
    .pierre__sale {
        font-size: 15px;
        width: 45px;
        height: 30px;
    }
    
    .military__sale {
        font-size: 15px;
        width: 45px;
        height: 30px;
    }
    
    .price__sale-cartier,
    .price__sale-audemars,
    .price__sale-tagheuer,
    .price__sale-lduchen,
    .price__sale-pierre,
    .price__sale-tiamo,
    .price__sale-carrera,
    .price__sale-jaeger {
        width: 45px;
        height: 25px;
        font-size: 15px;
        margin-left: 10px;
    }
    
    .magazin__basket {
        width: 25px;
        height: 25px;  
        margin-top: 20px;
    }
    
    
    .magazin__heart {
        width: 25px;
        height: 25px;
        margin-top: 50px;
        
    }
    
    .image {
        width: 15px;
        height: 15px;
    }
    
    .footer__nav {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    
    .footer__nav-contacts {
        margin-left: 150px;
        justify-content: center;
        align-items: center;
    }
    
    
    
}





/* footer end */

